html, body {
  width: 100%;
}
body {

}
a {
  color: inherit;
}
ul,li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.app {
  width: 100%;
}
.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  min-height: 0;
  line-height: normal;
  border: none;
  height: auto;
  border-radius: 0;
  background-color: #d5d5d5;
}
.navbar .cols-wrapper .col-left .col-right {
  height: 60px;
}
.cols-wrapper {
  display: flex;
}
.col-left {
  height: 60px;
  padding-left: 2em;
}
.logo {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
.logo span {
  text-align: center;
  line-height: 43px;
  height: 43px;
}
.col-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.col-right > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.region-navigation {

}
.navigation-list {
  display: flex;
  height: 60px;
}
.navigation-list li {
  height: inherit;
  border-left: 1px solid #c5c5c5;
  font-size: .786em;
  text-transform: uppercase;
  letter-spacing: .12ex;
}
.navigation-list li a {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  height: inherit;
  line-height: 60px;
}
.menu-toggle-wrap {
  width: 122px;
}
.menu-toggle-wrap ul {
  display: flex;

}
.menu-toggle-wrap ul li {
  border-left: 1px solid #c5c5c5;
}
.menu-toggle-wrap ul li a {
  display: flex;
  width: 60px;
  height: 60px;
}
.menu-toggle-wrap ul li a span {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.outer-main-wrapper {
    min-height: 100vh;
    padding-bottom: 240px;
    transition: padding-bottom .2s ease-in 0s;
}
.main-container {
  padding: 60px 1em 1em;
  width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 20;
  background: #d5d5d5;
}
.banner {
  width: 100%;
}
.movies-promo-wrapper {
  width: 100%;
  height: 611px;
}
.movies-promo {
  width: 100%;
  height: 100%;
  padding: 0 0 1em;
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.swiper-item {
  width: 387.667px;
  height: 100%;
  margin: 0;
  background-color: gray;
  border: 1px solid black;
}

.views-promo-wrapper {
  width: 100%;
}
.views-promo-item {
  width: 100%;
  height: 576px;
  border-bottom: 2px solid #d5d5d5;
  background: gray;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    min-height: 240px;
    height: 240px;
    margin: 0;
    padding: 35px 1.429em 28px;
    border-top: 1px solid #E5E5E5;
    background: #000912;
    text-align: center;
}
